.icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.enjoy-your {
  margin: 0;
  white-space: pre-wrap;
}
.with-invincible {
  margin: 0;
}
.enjoy-your-best-container {
  position: absolute;
  top: 292px;
  left: 25px;
  display: inline-block;
  width: 649px;
  height: 439px;
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 96px;
  color: var(--color-black);
  font-family: var(--font-itim);
}
